.searchbar {

    position: relative;
    padding: 10px;
    max-width: 400px;

    input[type=text] {
        width: calc(100% - 10px);
    }

    ul {
        position: absolute;
        width: 100%;
        list-style: none;
        z-index: 1;
        background-color: $gray;
        overflow: hidden;
        transition: max-height 0.3s linear;
        max-height: 0;

        li {
            text-align: left;
            padding: 7px;
        }
    }

    input:focus + ul {
        max-height: 500px;
    }

}