#show {
    display: grid;
    grid-template:
        "title poster"
        "episodes poster"
        / 1fr 300px;

    img {
        height: auto;
    }

    h1 {
        grid-area: title;
        text-align: center;
    }

    .banner {
        grid-area: banner;
        display: none;
    }

    .poster {
        grid-area: poster;
    }

    @include mobile() {
        grid-template:
            "banner"
            "title"
            "episodes";

        .poster {
            display: none;
        }

        .banner {
            display: block;
        }
    }

    .episodes {
        display: grid;
        grid-template:
            "seasons watched"
            "seasons .";
        column-gap: 10px;
        padding: 10px;

        align-items: flex-start;
        justify-content: start;

        span {
            grid-area: watched;
            border: none;
            padding: 10px;
            border-radius: 100%;
            color: #fff;
            background-color: $green;

            &[role="button"] {
                background-color: transparent;
            }
        }

        .seasons {
            ul {
                list-style: none;
                display: grid;
                grid-auto-flow: column;
                justify-content: start;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }

                li {
                    user-select: none;
                    position: relative;
                    padding: 12px 0;
                    width: 40px;
                    text-align: center;
                    background-color: $lighter-gray;
                    cursor: default;

                    &.watched {
                        background-color: $light-gray;
                    }

                    &.edit {
                        cursor: pointer;

                        &:hover {
                            background-color: mix($lighter-gray, $light-gray);
                        }
                    }

                    &:first-of-type {
                        border-top-left-radius: 1000px;
                        border-bottom-left-radius: 1000px;
                    }

                    &:last-of-type {
                        border-top-right-radius: 1000px;
                        border-bottom-right-radius: 1000px;
                    }
                }
            }
        }
    }
}
